@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom input/textarea styles */
input {
  @apply bg-gray-200/75 px-4 py-3 rounded-[8px] text-black placeholder:text-black/75;
}

textarea {
  @apply bg-gray-200/75 px-4 py-3 rounded-[8px] text-black placeholder:text-black/75;
}

input:focus {
  @apply outline outline-[1px] outline-gray-800;
}

textarea:focus {
  @apply outline outline-[1px] outline-gray-800;
}

/* Dark mode styles for inputs */
.dark input {
  @apply bg-gray-800/75 text-white placeholder:text-gray-400;
}

.dark textarea {
  @apply bg-gray-800/75 text-white placeholder:text-gray-400;
}

.dark input:focus {
  @apply outline-white;
}

.dark textarea:focus {
  @apply outline-white;
}

/* Animation */
@keyframes slide-in-from-icon {
  from {
    transform: translateX(10vw) translateY(10vh);
    opacity: 0;
  }

  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in-from-icon 0.3s ease-out;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-thumb {
  background-color: #555;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.dark ::-webkit-scrollbar-track {
  background: #1f2937;
}

.ai-chat::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Cursor styles */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(164, 54, 54, 0.9);
  mix-blend-mode: color-burn;
  transform: translate(-50%, -50%);
  transition: transform 0.15s, opacity 0.15s;
  box-shadow: 0 0 15px rgba(218, 32, 32, 0.3);
}